

body {
  font-family: Arial, sans-serif;
}
#output {
  margin-top: 20px;
}
.options {
  display: flex;
  margin-bottom: 20px;
}
.containers {
  display: flex;
}

.containers > .container {
  width: 25px;
  border: 1px solid #ccc;
  border-top: none;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.containers > .container.selected {
  border-color: green;
  border-width: 3px;
}

.containers > .container > div {
  text-align: center;
}
.containers > .container > div.highlight {
  background-color: yellow;
}